/* Centrar el contenedor en la pantalla */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.container {
    background-color: #ffffff;
    padding: 20px;
    height: auto;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Configuración del grid */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 5%;
    margin-top: 5%;
    gap: 10%; /* Espaciado entre las celdas */
}

/* Estilo de los elementos del grid */
.grid-item {
    background-color: #4caf50;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, background-color 0.3s;
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
}

.grid-item a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.grid-item input {
    cursor: pointer;
}

/* Efecto hover */
.grid-item:hover {
    transform: scale(1.1);
    background-color: #2bb22b;
}

.input-box {
    width: 50px; /* Ancho pequeño para la caja de texto */
    text-align: center; /* Centrar el número */
}

.abajo {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 10px; /* Espacio entre los div */
}

.title {
    flex: 0.72;
    text-align: center;
}

.item2 {
    background-color: #32cd32;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 20%;
    transition: transform 0.3s, background-color 0.3s;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.item2 a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
}

.item2:hover {
    transform: scale(1.1);
    background-color: #2bb22b;
    color: blue;
}

.header {
    display: flex; /* Habilita flexbox */
    align-items: center; /* Centra verticalmente los elementos */
    position: relative;
    gap: 20px; /* Espacio opcional entre el título y el botón */
}
